# Task: Data Cleaning & Preprocessing

In [54]:
## Import module
import pandas as pd

In [55]:
## Importing csv file
df = pd.read_csv("suicide_data_cleaned.csv")

In [56]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.776601,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.776601,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.776601,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.776601,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.776601,"2,156,624,900",796,Boomers

In [57]:
## Handling Missing values
df.isnull()  ## already handeled missing values in task 2

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
27819,False,False,False,False,False,False,False,False,False,False,False,False
27820,False,False,False,False,False,False,False,False,False,False,False,False
27821,False,False,False,False,False,False,False,False,False,False,False,False
27822,False,False,False,False,False,False,False,False,False,False,False,False
27823,False,False,False,False,False,False,False,False,False,False,False,False

In [58]:
## checking duplicate values
df.duplicated().any()

np.True_

In [59]:
## Count Duplicate values
df.duplicated().sum()

np.int64(4)

In [60]:
## Show duplicate values
df[df.duplicated()]

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
11,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,0.776601,"2,156,624,900",796,G.I. Generation
461,Antigua and Barbuda,2002,female,5-14 years,0,8408,0.00,Antigua and Barbuda2002,0.776601,"814,615,333",10499,Millenials
13185,Jamaica,1985,male,55-74 years,0,101000,0.00,Jamaica1985,0.650000,"2,100,223,150",1032,G.I. Generation
21634,Saint Lucia,2014,female,35-54 years,0,25264,0.00,Saint Lucia2014,0.729000,"1,551,921,037",9372,Generation X

In [61]:
## Removing Duplicate values
df = df.drop_duplicates()

In [62]:
## Checking any duplicate values
df.duplicated().any()

np.False_

In [63]:
## Convert categorical data into usable formats

## One-Hot coding - converts categorical (text) data into numerical format for analysis
## Creating seperate columns for each category

df = pd.get_dummies(df, columns=['sex', 'age', 'generation'])

#Dummy (in data analysis) means a temporary numerical variable created from categorical data so computers or machine learning models can understand it.
# helps machine learning model because ml models only understand numerical value not text format

In [64]:
df.head()

,country,year,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),sex_female,...,age_35-54 years,age_5-14 years,age_55-74 years,age_75+ years,generation_Boomers,generation_G.I. Generation,generation_Generation X,generation_Generation Z,generation_Millenials,generation_Silent
0,Albania,1987,21,312900,6.71,Albania1987,0.776601,"2,156,624,900",796,False,...,False,False,False,False,False,False,True,False,False,False
1,Albania,1987,16,308000,5.19,Albania1987,0.776601,"2,156,624,900",796,False,...,True,False,False,False,False,False,False,False,False,True
2,Albania,1987,14,289700,4.83,Albania1987,0.776601,"2,156,624,900",796,True,...,False,False,False,False,False,False,True,False,False,False
3,Albania,1987,1,21800,4.59,Albania1987,0.776601,"2,156,624,900",796,False,...,False,False,False,True,False,True,False,False,False,False
4,Albania,1987,9,274300,3.28,Albania1987,0.776601,"2,156,624,900",796,False,...,False,False,False,False,True,False,False,False,False,False

In [65]:
## Saving clean data set
df.to_csv('clean_suicide_data.csv', index=False)